/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Pedro Martins // ace.wf.home@gmail.com.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
.oquefazemos {
    font-family: 'GothamRoundedBold';
    color: #fff;
    min-height: 600px;

    z-index: 10;
    height: 100%;
    width: 100%;
    position: absolute;
}
.oquefazemos_parent {
    min-height: 800px;
}
.oquefazemos .centraConteudo {
    max-width: 600px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.oquefazemos .centraConteudo .lineback{
    height: 4px;
    width: 600px;
    background-repeat: no-repeat;
    background-size: 600px 4px;
    background-image: url('../img/oquefazemos/oquefazemoslines.svg');
    left: 0;
}


#linedown  {
    position: relative;
    bottom: 0;
}


.oquefazemos .centraConteudo .textin{
    color: #fff;
    font-size: 1.4em;
    text-align: center;
    width: 600px;
    padding: 14px;
}
.oquefazemos .centraConteudo .subtitle{
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
    padding: 14px;
}


.oquefazemos .centraConteudo .titlePage{
    height: 70px;
}
.oquefazemos .centraConteudo .titlePage .title{
    float: left;
}
.oquefazemos .centraConteudo .imagelogo{
    position: absolute;
    top: -50px;
    margin-left: 610px;
    height: 121px;
    width: 129px;
    background-repeat: no-repeat;
    background-image: url('../img/oquefazemos/icon_oquefazemos.png');
}

.oquefazemos .centraConteudo .contentcontrol{
    padding-top: 60px;
    width: 100%;
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
.oquefazemos .centraConteudo .group_content .title{
    padding-top: 60px;
}
.oquefazemos .centraConteudo .group_content .title ul li{
    font-size: .8em;
}
.oquefazemos .centraConteudo .group_content .title .title_area{
    height: 40px;
    width: 100%;
}
.oquefazemos .centraConteudo ul{
    padding: 0 0 0 1em;
}

.oquefazemos .centraConteudo .group_content{
    margin: 10px;
    vertical-align: top;
    display: inline-block;
    background-repeat:no-repeat;
    background-image: url('../img/oquefazemos/icon_lapis.png');
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
.oquefazemos .centraConteudo .certificado{
    width: 120%;
    margin-left: -50px;
    font-size: .8em;
    padding-left: 50px;
    margin-top: 30px;
    display: inline-block;
    background-repeat:no-repeat;
    background-image: url('../img/oquefazemos/icon_selo.png');
}