/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Pedro Martins // ace.wf.home@gmail.com.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
.orcamentos {
    color: #fff;
    height: 90%;
    width: 100%;
    position: relative;
    font-family: 'GothamRoundedBold';
    font-size: 14px;
}
.orcamentos input[type="text"]{
    border: none;
    padding: 0px;
    height: 23px;
   
    background-size: 209px 23px;
    background: url(../img/orcamento/fundo_input.png) no-repeat center center;
    /*
    background: rgba(0,0,0,0) url(../img/orcamento/fundo_input.svg) no-repeat center center;
    */

}
.orcamentos input[type="submit"]{
    border: none;
    margin-top: 45px;
    margin-left: 95px;
    width: 172px;
    height: 38px;
    background-color: #7bbaad;
    box-shadow: 2px 2px 2px #000;
    font-family: 'GothamRoundedBold';
}
.orcamentos .area_form .fieldtip{
    display: inline-block;
    font-size: 14px;
    height: 23px;

}

.orcamentos form{
    width: 376px;
    margin: auto;
}
.orcamentos .separador{
    width: 376px;
    height: 3px;
    background-color: #fff;
}
.orcamentos .smallseparador{
    vertical-align: middle;
    display: inline-block;
    width: 174px;
    height: 3px;
    background-color: #fff;
}
.orcamentos .centraConteudo .area_form .fieldlang{
     margin-top: -2px;
    display: inline-block;
    width: 205px;
    margin-right: 3px;
    float: right;
}
.orcamentos .centraConteudo .area_form {
    display: inline-block;
    width:100%;
    height: 420px;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    /*-webkit-box-align:center;*/

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
.orcamentos .centraConteudo .area_form .fristsfields{
    /*height: 100px;*/
}
.orcamentos .centraConteudo .area_form .secondfields{
   /* height: 180px;*/
}
.orcamentos .centraConteudo .area_form  .title{
    margin-top: 10px;
}
.orcamentos .centraConteudo .area_form  .choice{
    margin-top: 5px;
}
.orcamentos .centraConteudo .area_form .secondfields .choicepage{
    margin-top:20px;
    margin-bottom: 10px;
}
.orcamentos .centraConteudo .area_form .thirdfields .choicepage{
    margin-top:10px;
}
.orcamentos .centraConteudo .area_form .smalltxtfield{
    width: 30px;
    background-size: 208px 23px;
    background-color: #fff;
    color: #444;  
}


.orcamentos .centraConteudo .area_form .centerincontent{
    display: inline-block;
    margin: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;

}
.orcamentos .centraConteudo .area_form .centerincontent:first-child{
    margin-top: 20px;
}



.orcamentos .centraConteudo {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.orcamentos .centraConteudo .lineback{
    height: 4px;
    width: 600px;
    background-repeat: no-repeat;
    background-size: 600px 4px;
    background-image: url('../img/orcamento/orcamentoslines.svg');
    left: 0;
}


#linedown  {
    position: relative;
    bottom: 0;
}


.orcamentos .centraConteudo .textin{
    color: #fff;
    font-family: 'GothamRoundedBold';
    font-size: 1.4em;
    text-align: center;
    padding: 14px;
}
.orcamentos .centraConteudo .titlePage{
    height: 70px;
}

.orcamentos .centraConteudo .titlePage .title{
    float: left;
}
.orcamentos .centraConteudo .imagelogo{
    position: absolute;
    top: -50px;
    margin-left: 610px;
    height: 122px;
    width: 89px;
    background-repeat: no-repeat;
    background-image: url('../img/orcamento/icon_orcamento.png');
}




.choice {
    position: relative;
    display: inline-block;
}

.choice select {
    display: inline-block;
    border: 1px solid #ccc;
    /*padding: 4px 3px 3px 5px;*/
    margin: 0;
    background: #f8f8f8;
    width: 195px;
    height: 23px;
    font-family: 'GothamRoundedBook';
    background: url('../img/orcamento/fundo_dropbox.png') no-repeat right #ddd;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;    

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* for Webkit's CSS-only solution */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .choice select {
        padding-right:30px;    
    }
}

/* Since we removed the default focus styles, we have to add our own */
.choice select:focus {
    -webkit-box-shadow: 0 0 1px 1px #000;
    -moz-box-shadow: 0 0 1px 1px #000;
    box-shadow: 0 0 1px 1px #000;
}

/* Select arrow styling */
.choice:after {
    content: "▼";
    position: absolute;
    top: 0;
    right: 3px;
    bottom: 0;
    font-size: 60%;
    line-height: 20px;
    padding: 0 10px;
    background: #fff;
    color: #85b8a8;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #000;
    
    pointer-events:none;
    
    -webkit-border-radius: 0 0px 0px 0;
    -moz-border-radius: 0 0px 0px 0;
    border-radius: 0 0px 0px 0;
}

.no-pointer-events .choice:after {
    content: none;
}