/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Pedro Martins // ace.wf.home@gmail.com.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
.parcerias {
    height: 90%;
    width: 100%;
    position: relative;
}
.parcerias .centraConteudo {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.parcerias .centraConteudo .lineback{
    height: 4px;
    width: 600px;
    background-repeat: no-repeat;
    background-size: 600px 4px;
    background-image: url('../img/parcerias/parceriaslines.svg');
    left: 0;
}


#linedown  {
    position: relative;
    bottom: 0;
}


.parcerias .centraConteudo .textin{
    color: #fff;
    font-family: 'GothamRoundedBold';
    font-size: 2em;
    text-align: center;
    width: 600px;
    padding: 14px;
}
.parcerias .centraConteudo .titlePage{
    height: 70px;
}
.parcerias .centraConteudo .area_mapa{
    width: 600px;
    height: 100%;
}
.parcerias .centraConteudo .area_mapa .mapa{
    margin-top: 35px;
    margin-left: -20%;
    width: 904px;
    height: 454px;
    display: inline-block;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg); /* Safari and Chrome */
    background-image: url('../img/parcerias/mapa.png');
}


.parcerias .centraConteudo .titlePage .title{
    float: left;
}
.parcerias .centraConteudo .imagelogo{
    position: absolute;
    top: -50px;
    margin-left: 610px;
    height: 112px;
    width: 115px;
    background-repeat: no-repeat;
    background-image: url('../img/parcerias/logo_parcerias.png');
}
